.Show { display: default; }
.Hide {	display: none; }

div { float: left; }

div.BeatColumn {
	width: 50px;
	height: 120px;
	border: 1px dotted red;
	text-align: center;
}

div.Beat, div.SubBeat {
	border-radius: 50%;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	margin-bottom: 5px;
}

div.Beat {
	width: 40px;
	height: 40px;
}

div.SubBeat {
	width: 10px;
	height: 10px;
}

div.On { background-color: gray; }
div.Off { background-color: default; }
