.Show { display: default; }
.Hide {	display: none; }

div.Beats div, div.SubBeats div {
	float: left;
	border-radius: 50%;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

div.Beats div {
	width: 120px;
	height: 120px;
	margin-right: 200px;
	margin-bottom: 10px;
}

div.SubBeats div {
	width: 60px;
	height: 60px;
	margin-left: 30px;
	margin-right: 69px;
}

div.Beats div.On {
	background-color: gray;
}
div.SubBeats div.On {
	background-color: gainsboro;
}
